@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Assessment Page</h1>
    <p>Name: @ViewBag.FullName</p>
    <p>Classroom: @ViewBag.RoomNumber</p>
    <p>Education Year: @ViewBag.YearOfStudy</p>
    <p>Favorite Programming Language: @ViewBag.FavLanguage</p>

    <p>Total Score: @ViewBag.Total</p>
    <p>Grade: @ViewBag.Grade</p>
    <p>Low Score Work: @ViewBag.LowScoreWork</p>
</div>

